@model MVCEjemplo2Vistas.Models.Product

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NameAndPrice</title>
</head>
<body>
    <div> 
        The Product Name is <strong>@Model.Name</strong>  and it coast <em>$@Model.Price</em> 
    </div>
</body>
</html>
